# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env files
.env

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Editors / OS
.vscode/
.idea/
.DS_Store
